body{
    margin: 0;
    padding: 0;
}
img{
    height: 200px;
    width: 200px;
}
header{
    background-color: rgb(255, 242, 0);
    padding: 15px;
    text-align: justify;

}
a{
    color: rgb(38, 0, 255);
}
ul{
    list-style-type: none;

}
a{
  text-decoration: none; 
}
li{
    display: inline;
    margin-right:  265px;
}
#products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product{
    border: 2px solid black;
}
.product button{
    background-color: rgb(255, 247, 0);
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 10px;
    border-radius: 20px; 

}
.product:hover{
    box-shadow: 20px 20px 10px gray;
}
.product{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 10px 10px 5px gray;
    
}
footer{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    text-align: center;
position: fixed;
bottom: 0;
}
